body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

h1 { font-weight: 500;
      font-style:normal;
     margin: 5px 0 0;
     font-size: 30px;
     color:cornflowerblue;
     padding: 0 10px 10px;
     border-radius:2px;
     font-family: 'merriweather', sans-serif;
}
h2 { color: cornflowerblue;
     width: 150px;     
     font-size: 20px;
     padding-left: 20px;
     font-weight:500;
     font-family: 'merriweather', sans-serif;
}

p {
    font-size: 1.0em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}