---
layout: default
title: Philip Long, PhD, Roboticist
---
<div class="blurb">



     <p>
     ARMS was an ANR ARPEGE project accepted in 2010 for 4 years (funded by the French National Agency of Research). The main goal of the project was to demonstrate the capabilities of a multi-arms system in muscle separation tasks. I was responsable for the modeling and control of the multi-arm system. The main contributions of this work were: multi-robot control of deformable bodies and robotic cutting using force/vision controllers.
    </p>
    

    <br>
   <center>   {% include youtubePlayer.html id="HjnhcevBWzQ" %} </center>
    <br>
    <i> 
    In this video, a global controller is simulated for the meat cutting task. The object is modeled using finite elements and simulated in MSC ADAMS.  
    </i> 
    <br>

    <br>
    <center>  {% include youtubePlayer.html id="biymxpbFAlE" %} </center>
    <br>
    <i> 
    In this video, an example closed chain manipulation of a deformable object is demonstrated. The object is modeled using finite elements and simulated in MSC ADAMS.  
    </i> 
    <br>
    
    <br>
  <center>   {% include youtubePlayer.html id="cvyXYBeRhvw" %} </center>
    <br>
    <i> 
    In this video, the formalism derived for cooperative manipulators is applied  to a parallel Gough Stewart manipulator.  At high accelerations, the platform may deform. A closed form solution for the inverse dynamic model is derived and  validated in MSC ADAMS. This solution allows us to calculate the joint torque from the Cartesian and generalized deformable variables' accelerations. 
    </i> 
    <br>

    <br>
  <center>   {% include youtubePlayer.html id="LMrPIVMnUes" %} </center>
    <br>
    <i> 
    In this video, the robotic separation of a soft foam like material is shown. The deformable trajectory is tracked by a camera, while a force controller is used to ensure global deformation (i.e. ripping of the material) is avoided. The force correction is applied in the Cartesian space. A second robot maintains the object and reduced cutting friction by opening up the cutting valley
    </i> 
    <br>
    
    <br>
  <center>   {% include youtubePlayer.html id="rZ0tKNSPxew" %} </center>
    <br>
    <i> 
        In this video, the robotic separation of a soft foam like material is shown. In this case, the control law is formulated entirely in the image space of the camera, leading to a robust controller. In addition to this, by using image moments, 6-DOF can be controlled. The force correction is applied directly in the image space. 
    </i> 
    <br>
    
<br>

     <h3> Associated Publications </h3>
     
     
     
         
    <ul style="list-style-type:circle">
      
    <li> <i>Dynamic modeling of parallel robots with flexible platforms</i>, Mechanism and Machine Theory 81, 21-35, P. Long, W. Khalil, and P. Martinet
    <a href="https://www.researchgate.net/profile/Philip_Long2/publication/263893839_Dynamic_modeling_of_parallel_robots_with_flexible_platforms/links/53d8a3110cf2631430c32dfe.pdf"> pdf_link</a> 
    </li>
  
  
  <br>
  
  
    <li>
        <i>Kinematic and dynamic analysis of lower-mobility cooperative arms</i>, Robotica 33 (09), 1813-1834, P. Long, W. Khalil and S. Caro
        <a href="https://hal.archives-ouvertes.fr/hal-01084563/document"> pdf_link</a>
    </li>
<br>
         
   
    <li>
     <i>Dynamic modeling of cooperative robots holding flexible objects</i>, Proceedings of the 2015 International Conference on Advanced Robotics (ICAR), P. Long, W. Khalil, and P. Martinet<br>    
       <a href="http://www.irccyn.ec-nantes.fr/~martinet/publis/2015/ICAR15long.pdf"> pdf_link</a> 
       (Acceptance rate 59%)
    </li>
    
    <br>    
    
    <li>
     <i>Robotic cutting of soft materials using force control & image moments</i>, Proceedings of the 2014 13th International  Control Automation Robotics & Vision (ICARCV), P. Long, W. Khalil, and P. Martinet <a href="https://www.researchgate.net/profile/Philip_Long2/publication/282004950_Robotic_cutting_of_soft_materials_using_force_control__image_moments/links/5601179908aeafc8ac8c8041.pdf"> pdf_link</a>
    
    </li>
    <br>
   <li>
    <i>Force/vision control for robotic cutting of soft materials</i>, Proceedings of the 2014 IEEE/RSJ International Conference on Intelligent Robots and Systems (IROS), P. Long, W. Khalil, and P. Martinet  <a href="https://www.researchgate.net/profile/Philip_Long2/publication/282005015_Forcevision_control_for_robotic_cutting_of_soft_materials*/links/560116be08aeafc8ac8c8025.pdf"> pdf_link</a>
   (Acceptance rate 46%)
    </li>
    <br>
        <li>
    <i>Modeling & control of a meat-cutting robotic cell</i>, Proceedings of the 2013 16th International Conference on Advanced Robotics (ICAR), P. Long, W. Khalil, and P. Martinet <a href="http://www.irccyn.ec-nantes.fr/~martinet/publis/2013/ICAR13-long.pdf"> pdf_link</a>
     </li>
    <br>
        <li>
    <i>Control of a Lower Mobility Dual Arm System</i>, 2012 10th IFAC Symposium on Robot Control (SYROCO), P. Long, W. Khalil, and S. Caro,
       </li>
    <br>
      <li>  
    <i>Kinematic analysis of lower mobility cooperative arms by screw theory</i>, Proceedings of the 2012 9th International Conference on Informatics in Control Automation and Robotics (ICINCO), P. Long, S Caro, and W. Khalil
                  <a href="https://hal.archives-ouvertes.fr/hal-00786897/document"> pdf_link</a>
          
</li>
         
         
            <li>
        <i>Robotic Meat Cutting</i>, ICT-PAMM Workshop, Kumamoto, Japan, November 9-10th, 2013, P. Long, A. Moughlbay, W. Khalil, and P. Martinet <br>
        </li>
    <br>
            <li>
        <i>Robotic Deformable Object Cutting: From Simulation to Experimental Validation</i>, European Workshop on Deformable Object Manipulation  (EWDOM) Lyon, France, March 20th, 2014, P. Long, W. Khalil, and P. Martinet <br>
</li>
         
         <li>
    <i>(Thesis) Contributions to the Modeling and Control of Cooperative Manipulators</i>, PhD. Thesis, IRCCyN, Ecole Centrale de Nantes, 2014
          <a href="https://www.researchgate.net/publication/294870163_Contributions_to_the_Modeling_and_Control_of_Cooperative_Manipulators"> pdf_link</a>
          
     </li>
    
</ul>
</div><!-- /.blurb -->
