---
layout: default
title: Philip Long, PhD, Roboticist
---
<div class="blurb">


    

    <br>
   <center>   {% include youtubePlayer.html id="HjnhcevBWzQ" %} </center>
    <br>
    <i> 
    In this video, a global controller is simulated for the meat cutting task. The object is modeled using finite elements and simulated in MSC ADAMS.  
    </i> 
    <br>

    <br>
    <center>  {% include youtubePlayer.html id="biymxpbFAlE" %} </center>
    <br>
    <i> 
    In this video, an example closed chain manipulation of a deformable object is demonstrated. The object is modeled using finite elements and simulated in MSC ADAMS.  
    </i> 
    <br>
    
    <br>
  <center>   {% include youtubePlayer.html id="cvyXYBeRhvw" %} </center>
    <br>
    <i> 
    In this video, the formalism derived for cooperative manipulators is applied  to a parallel Gough Stewart manipulator.  At high accelerations, the platform may deform. As closed form solution for the inverse dynamic model is derived and  validated in MSC ADAMS
    </i> 
    <br>

    <br>
  <center>   {% include youtubePlayer.html id="LMrPIVMnUes" %} </center>
    <br>
    <i> 
    In this video, the robotic separation of a soft foam like material is shown. The deformable trajectory is tracked by a camera, while a force controller is used to ensure global deformation (i.e. ripping of the material) is avoided. The force correction is applied in the Cartesian space. A second robot maintains the object and reduced cutting friction by opening up the cutting valley
    </i> 
    <br>
    
    <br>
  <center>   {% include youtubePlayer.html id="rZ0tKNSPxew" %} </center>
    <br>
    <i> 
        In this video, the robotic separation of a soft foam like material is shown. In this case, the control law is formulated entirely in the image space of the camera, leading to a robust controller. In addition to this, the by using image moments, 6-DOF can be controlled. The force correction is applied directly in the image space. 
    </i> 
    <br>
    
<br>
    
</div><!-- /.blurb -->