---
layout: default
title: Philip Long, PhD, Roboticist
---
<div class="blurb">
    <p>
        One of the principal research areas of the robotics team at IRT is cable driven parallel robots. These robots, by virtue of fixed (grounded motors) have a large easily scalable workspace, while allowing high platform accelerations. Typical applications include logistic operations and large scale machining.   
    </p>

    <br>
    <center>   {% include youtubePlayer.html id="oklytQdpLQ8" %} </center>
    <br>
    <i> 
    In this video, a prototype of a cable driven parallel robot is shown. I was responsible for the modeling and control of the system and supervised the controller implementation in a real-time software architecture.  
    </i> 
    <br>
    

    <br>
    <center>   {% include youtubePlayer.html id="XmwCoH6eejw" %} </center>
    <br>
    <i> 
    In this video, we show how the solution to the cable tension distribution problem can be used to prevent toppling of a deployable cable-driven parallel robot. The robot in question will be used for logistic opertions in the framework of the <a href="https://www.fastkit-project.eu/"> FASTKIT </a> project.     
    </i> 
    <br>


TJSsfjNlvZ4
    <br>
    <center>   {% include youtubePlayer.html id="cvyXYBeRhvw" %} </center>
    <br>
    
    <i> 
        This video presents a demonstration of the FASTKIT prototype. FASTKIT is a FP7 echord++ funded project. I was invloved in the project proposal and part of the initial project team. After I left IRT, I continue to supervise a PhD student (T. Rasheed) who worked on this project, mainly the modeling and control of CDPR. 
    </i> 
    <br>



 <h3> Associated Publications</h3>

<ul style="list-style-type:circle">
    <li>
     <i>Available Wrench Set for Planar Mobile Cable-Driven Parallel Robots  </i>, Proceedings of the 2018 IEEE-RAS 17th International Conference on Robotics and Automation (ICRA, acceptance rate 40%), May 21, 2018 - May 25, 2018, T. Rasheed, P. Long, D. Marquez-Gamez, and S. Caro<br>    
    </li>
   <br>
    
        <li>
     <i>Kinematic Modeling and Twist Feasibility of Mobile Cable-Driven Parallel Robots</i>, Proceedings of the 16th International Symposium on Advances in Robot Kinematics (ARK), July 1, 2018 - July 5, 2018, T. Rasheed, P. Long, D. Marquez-Gamez, and S. Caro<br>    
     </li>
<br>
    
     <li>
     <i>Tension Distribution Algorithm for Planar Mobile Cable-Driven Parallel Robots</i>, Proceedings of the Third International Conference on Cable-Driven Parallel Robots, Aug 2, 2017 - Aug 4, 2017, T. Rasheed, P. Long, D. Marquez-Gamez, and S. Caro<br>    

      <a href="http://www.springer.com/-/0/AV2svYrivMFoNfTGuHTX"> Book Chapter</a>

    </li>
<br>
</ul>    
    </div><!-- /.blurb -->
