---
layout: default
title: Philip Long, PhD, Roboticist
---


       <br>
   <center>  {% include youtubePlayer.html id="FzlhsLH5IPU" %} </center>
    <br>
    <i> 
       We propose a new method to evaluate the robot's performance that considers both the system's geometric structure and
      the presence of obstacles close to or in contact with the robot. This method reduces the manipulator's joint velocity limits by deforming the manipulability polytope to account for obstacles. 
</i>
<br>



       <br>
   <center>  {% include youtubePlayer.html id="DdMygaZsuC4" %} </center>
    <br>
    <i> 
      In this work, we define a generalized method to evaluate risk for a failure event, 
      introducing the concept of severity based on robot state and operator
      experience and defining a framework to allow on-line risk monitoring.  
    </i>
<br>




<h3> Associated Publications </h3>

<ul style="list-style-type:circle">
  
    <li>
     <i>Compositional Autonomy for Humanoid Robots with Risk-Aware Decision-Making</i>, Proceedings of the 2017 IEEE-RAS 17th International Conference on Humanoid Robots, Nov 15, 2017 - Nov 17, 2017, X. Long, P. Long,  and T. Padir<br>    

      <a href="https://www.researchgate.net/publication/322319552_Compositional_autonomy_for_humanoid_robots_with_risk-aware_decision-making
"> pdf_link</a>
    </li>
<br>
  
          <li>
     <i>Multi-Robot Scheduling and Path-Planning for Non-Overlapping Operator Attention</i>, Proceedings of the 2018 IEEE-RAS 2nd International Conference on Robotic Computing (IRC), Jan 31, 2018 - Feb 2, 2018, S. Zanlongo, F. Abodo, P. Long, T. Padir and L. Bobadilla<br>    
    </li>
   <br>

       
             <li>
     <i>Integrating Risk in Humanoid Robot Control for Applications in the Nuclear Industry </i>, Proceedings of the 2018 Waste Management Symposium (WM2018), Mar 19, 2018 - Mar 23, 2018, P. Long, X. long, A.Onol and T. Padir<br>    
    </li>
<br> 
  
        <li>
    <i> (Invited Talk) "Robot Control for Industrial Applications & Beyond...."</i>, UMASS, Boston, September 2017 <br><br>
</li>

</ul>
