---
layout: default
title: Philip Long, PhD, Roboticist
---


<p>

    The project FAST is a IRT project in partnership with Renault and Europe Technologies. I was responsable for the human/robot coexistence work package (18 months).
 The objective was to allow the installation of robotic systems without fences or physical security devices. 
    In order to do this, we designed a series of security modes or states for the robot. 
    Due to the success of this work package, I was asked to participate in the industrialisation of the system (6 months). 
    </p>
 

    <br>
   <center>  {% include youtubePlayer.html id="0vfj6-h6pts" %} </center>
    <br>
    <i> 
    Marketing video produced by IRT Jules Verne (French) with testimonials from industrial partners.  
    </i>
    <br>

       <br>
   <center>  {% include youtubePlayer.html id="1sNkxXO99Zc" %} </center>
    <br>
    <i> 
    The final industrial evaluation of the project is shown, with industrial style scenarios. 
    </i>
    <br>


        <br>
   <center>  {% include youtubePlayer.html id="rm03KoSWjf8" %} </center>
    <br>
    <i> 
    In this video, obstacle avoidance is demonstrated using Moveit! and a Kinect camera. 
    </i>
    <br>
    
    <br>
   <center>  {% include youtubePlayer.html id="xLXXJGi_ki0" %} </center>
    <br>
    <i> 
    In this video, a high speed displacement is shown, an infra-red sensor is used to trigger the passive behaviour. Photoelectric sensors are used to trigger the robot's reduced mode.
    </i>
    <br>
    

    <br>
      <center>  {% include youtubePlayer.html id="cbag8CrO4sM" %} </center>
    <br>
    <i> 
    In this video, an example operation using a universal robot is shown. Three sick laser scanner sensors are used to create dynamic security zones in the robot's workspace. One laser scanner is fixed at the base of the robot while two are attached to the first link in the kinematic chain. The two moving sensors create an envelope around the robot which can be used to alter the robot's behavior if an external object is detected. The system can filter a predefined environment and also filter the robot itself (prevent self-detections). The system is constructed using industrial grade sensors and is reactive in real time. 
    </i> 
    <br>
    


    <br>
      <center>  {% include youtubePlayer.html id="f-m7fmqA-KI" %} </center>
    <br>
    <i> 
    In this video, an example pick and place operation using a universal robot and a versaball (<a>http://empirerobotics.com/</a>) is shown. Passive behavior is triggered by an ultrasound sensor.  Photoelectric sensors are used to trigger the robot's reduced mode.
    </i> 
    <br>


<h3> Associated Publications </h3>

<ul style="list-style-type:circle">
  
  
    <li>
        <i> An industrial security system for human-robot coexistence</i>, Industrial Robot: An International Journal, P. Long, C. Chevallereau, D. Chablat and A. Girin,10.1108/IR-09-2017-0165        
    <a href="https://www.researchgate.net/publication/321790532_An_industrial_security_system_for_human-robot_coexistence"> pdf_link</a>         
    </li>
<br>
        <li>
    <i>Method and device for controlling a robot during co-activity [Patent Pending 2016]</i>, A. Girin, C. Chevellereau, P. Long<br>
    </li>
       <br>
    <li>
    <i>Generic Security System for a robot based on virtual skin [Patent Pending 2017]</i>, P. Long, D. Marquez-Gamez<br>
    </li>
<br>
    <li>
    <i> Techday - "Collaborative Robots"</i>, SYMOP (French association for manufacturing technologies), September 2016 (Invited Talk) <br><br>
</li>
    
     </ul>



