---
layout: default
title: Philip Long, PhD, Roboticist
---

       <br>
   <center>  {% include youtubePlayer.html id="81-P8yfv7DVXY" %} </center>
    <br>
    <i> 
  An alternative view is to use modular assembly lines, where cells of automation or human technicians carry out specific operations. Thus, instead of parts flowing from one station to another in a predefined linear fashion, the material is transported between stations by mobile robots whose tasks are defined by a higher level planner which by measuring production flow, sensors and quality can optimize the process.  </i>
  
         <br>
   <center>  {% include youtubePlayer.html id="8pxYMhe0Ik" %} </center>
    <br>
       <i> 
    Irish Manufacturing Research and KUKA Collaboration collaborate together to support Irish Industry. 
      </i>
<br>


</ul>
