---
layout: default
title: Philip Long, PhD, Roboticist
---
<div class="blurb">

    
    
 <h3> FAST Project</h3>
<p>
    The project FAST is a IRT project in partnership with Renault and Europe Technologies. I was responsable for the human/robot coexistence work package. The objectives was to allow the installation of robotic systems without fences or physical security devices. In order to do this, we designed a series of security modes or states for the robot. 
    </p>

<br>


    
    <br>    
    <br>
    {% include youtubePlayer.html id="xLXXJGi_ki0" %}
    <br>
    <i> 
    In this video, a high speed displacement is shown, an infra-red is used to trigger the passive behaviour. 
    </i>
    <br>
    

    <br>
    {% include youtubePlayer.html id="f-m7fmqA-KI" %}
    <br>
    <i> 
    In this video, an example pick and place operation using a universal robot and a versaball (<a>http://empirerobotics.com/</a>) is shown. Passive behavior is triggered by an ultrasound sensor
    </i> 
    <br>
    

 <h3> ARMS Project</h3>
<p>
     ARMS is an ANR ARPEGE project accepted in 2010 for 4 years. It is funded by the french National Agency of Research. The main goal of the project is to demonstrate the capabilities of a multi-arms system in muscle separation tasks.
     I was responsable for the modeling and control of the multi-arm system. The main contributions of this work were: multi-robot control of deformable bodies, robotic cutting using force/vision controllers
    </p>




    <br>
    {% include youtubePlayer.html id="HjnhcevBWzQ" %}
    <br>
    <i> 
    In this video, a global controller is simulated for the meat cutting task. The object is modeled using finite elements and simulated in MSC ADAMS.  
    </i> 
    <br>

    <br>
    {% include youtubePlayer.html id="biymxpbFAlE" %}
    <br>
    <i> 
    In this video, an example closed chain manipulation of a deformable object is demonstrated. The object is modeled using finite elements and simulated in MSC ADAMS.  
    </i> 
    <br>
    
    <br>
    {% include youtubePlayer.html id="cvyXYBeRhvw" %}
    <br>
    <i> 
    In this video, the formalism derived for cooperative manipulators is applied to a parallel Gough Stewart platform.  At high accelerations, the platform may deform a closed form solution for the inverse dynamic model is derived and valied in MSC ADSM
    </i> 
    <br>

<br>
    
    
</div><!-- /.blurb -->

    
