<aside>
	<div class="container">
			<nav style="background-color:white;">
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/teaching">Teaching & Supervision</a></li>
	        		<li><a href="/publications">Publications</a></li>
	        		<li><a href="/projects">Projects</a></li>				
  				<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
     </div> 
</aside>

<header>
	<h1>
<header_rule href="{{ site.baseurl }}">{{ site.title }}</header_rule>

</h1>

&emsp;
<h11>

<header_rule href="{{ site.baseurl }}">{{ site.subtitle }}
</header_rule>

</h11>

</header>
