<aside>
	<div class="container">
			<nav style="background-color:white;">
	    		<ul>
	        		<li><a href="/">Home</a></li>
		      <!--  	<li><a href="/about">About</a></li> -->
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/publications">Publications & Patents</a></li>
	        		<li><a href="/projects">Projects</a></li>
	                        <li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
     </div> 
</aside>

<header>
	<h1>
<header_rule href="{{ site.baseurl }}">{{ site.title }}</header_rule>

</h1>

&emsp;
<h11>

<header_rule href="{{ site.baseurl }}">{{ site.subtitle }}
</header_rule>

</h11>

</header>
