
/*
 Primary Rules
*/
h1 { font-weight: 500;
      font-style:normal;
     margin: 5px 0 0;
     font-size: 30px;
     color:cornflowerblue;
     padding: 0 10px 10px;
     border-radius:2px;
     font-family: 'merriweather', sans-serif;
}
h2 { color: cornflowerblue;
     width: 150px;     
     font-size: 20px;
     padding-left: 20px;
     font-weight:500;
     font-family: 'merriweather', sans-serif;
}

h3 { font-size: 18px;
     font-weight: bold;
     margin-bottom: 0;
     line-height: 28px;
     font-family: 'merriweather', sans-serif;
}
h2, h3 { margin-top: 5px }

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}


.key:first-child { margin-left: 0 }
.key { margin: 0 10px;
       position: relative;
}
.key::before { content: '◆';
               position: absolute;
               left: -15px;
               color: #555;
               font-size: 7pt;
}
.key:first-child::before { content: '' }
.section { border-bottom: 1px solid #ddd;
           padding: 10px 0 15px;
}
.section:last-child { border: none }
.section-text { width: 80%;
                font-size: 18px;
                line-height: 24px;
                margin: 10px 0 10px;
                padding: 0 10px;
}
.subsection { margin: 10px 0 5px }
.desc { font-size: 16px; font-family: "source-sans-pro", sans-serif; color:#444;}
.contact-info { font-size: 16px;
                text-align: right;
}
.emph { font-style: italic }
.light { color: #aaa;letter-spacing:1px;
         font-size: 14px;
         line-height:28px;
         font-family: "source-sans-pro", sans-serif;
         text-transform:uppercase;
}
ul{
  padding-left:15px;
}

ul.skills{
  float:left;
  width:30%;
  padding-left:0px;
  margin: 0 20px 0 0;
}

ul.skills li{
  list-style: none;
  font-size:16px;
  margin-bottom:10px;
}

ul.skills li:last-child{
  margin:0;
}

/*
 Float Rules
*/
.row:before, .row:after { content: "";
                          display: table;
}
.row:after { clear: both }
.col { float: left }
.col-right { float: right }


