<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
            
            .header {
    height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:960px;
    margin:0px auto;
}
.content {
    width:960px;
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: 2000px;
    margin: 20px auto;
}
            
		</head>
		<body>
            <h10>Philip Long</h10>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		      <!--  	<li><a href="/about">About</a></li> -->
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/publications">Publications & Patents</a></li>
	        		<li><a href="/projects">Projects</a></li>
                    <li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/philip-long">github.com/philip-long</a></li>
				</ul>
			</footer>
		</body>
	</html>
