---
layout: default
title: Philip Long, PhD, Roboticist
---
<div class="blurb">

    
    
 <h3> FAST Project</h3>
<p>
    The project FAST is a IRT project in partnership with Renault and Europe Technologies. I was responsable for the human/robot coexistence work package. The objectives was to allow the installation of robotic systems without fences or physical security devices. In order to do this, we designed a series of security modes or states for the robot. 
    </p>

<br>
    
    <p> 
    In this video, a high speed displacement is shown, an infra-red is used to trigger the passive behaviour. 
    </p>
    <br>    
    <br>
    {% include youtubePlayer.html id="xLXXJGi_ki0" %}
    <br>
    <br>
    
    
    <p> 
    In this video, an example pick and place operation using a universal robot and a versaball (<a>http://empirerobotics.com/</a>) is shown. Passive behavior is triggered by an ultrasound sensor
    </p>
    <br>
    <br>
    {% include youtubePlayer.html id="f-m7fmqA-KI" %}
    <br>    
    <br>
    


    
    
</div><!-- /.blurb -->

    